/node_modules
package-lock.json
*/**/ormSetting.ts
*/**/.DS_Store
.DS_Store
ormlogs.log
appDataSource.ts
Tools/node_modules
Tools/move_data
Tools/nature_data
Tools/item_data
Tools/getAbilities/*
sprite_pokemon_images_webp
Tools/pg